@model WorkforceManagement.Models.ViewModels.EmployeesCreateViewModel

@{
    ViewData["Title"] = "Create Employee";
}

<h2>@ViewData["Title"]</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Employees.FirstName" class="control-label"></label>
                <input asp-for="Employees.FirstName" class="form-control" autofocus />
                <span asp-validation-for="Employees.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employees.LastName" class="control-label"></label>
                <input asp-for="Employees.LastName" class="form-control" />
                <span asp-validation-for="Employees.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employees.StartDate" class="control-label"></label>
                <input asp-for="Employees.StartDate" class="form-control" />
                <span asp-validation-for="Employees.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                <select asp-for="Department" name = "DepartmentId" class="form-control" asp-items="@Model.Department"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>